{% load static %}
<!---footer-->                       
<footer class="py-5 mt-5 shadow-sm bg-white">
        <div class="container">
          <div class="row pb-5 border-bottom">
            <div class="col-12 col-md-6 mb-5 mb-md-0">
              <a class="d-inline-block" href="#">
                <img class="img-fluid" src="img/favicon.png" alt="" width="96px">
              </a>
            </div>
            <div class="col-12 col-md-6">
              <ul class="list-unstyled d-flex flex-wrap align-items-center justify-content-lg-end">
                <li class="me-4"><a class="link-secondary" href="/">Home</a></li>
                <li class="me-4"><a class="link-secondary" href="/about">About</a></li>
                <li class="me-4"><a class="link-secondary" href="/projects">Projects</a></li>
                <li><a class="link-secondary" href="/testimonial">Testimonials</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mb-5"></div>
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-between">
            <p>All rights reserved © Learn With Rabbil 2030</p>
            <div>
              <a class="d-inline-block me-4" href="#">
                <img src="{%  static 'img/facebook.svg' %}" alt="">
              </a>
              <a class="d-inline-block me-4" href="#">
                <img src="{%  static 'img/twitter.svg' %}" alt="">
              </a>
              <a class="d-inline-block me-4" href="#">
                <img src="{%  static 'img/github.svg' %}" alt="">
              </a>
              <a class="d-inline-block me-4" href="#">
                <img src="{%  static 'img/instagram.svg' %}" alt="">
              </a>
              <a class="d-inline-block" href="#">
                <img src="{%  static 'img/linkedin.svg' %}" alt="">
              </a>
            </div>
          </div>
        </div>
</footer>