{% load static %}

<div class="container  my-5 pt-3">
    <div class="row  align-items-center mb-5">
            <div class="col-12 wow fadeIn col-md-10 col-lg-5 mb-5 mb-lg-0">
              <h1 class="display-4 fw-bold mb-5">BUILDING SCALABLE & DYNAMIC WEB APPLICATIONS</h1>
              <p class="lead text-muted mb-5">Build a well-presented brand that everyone will love. Take care to develop resources continually and integrate them with previous projects.</p>
              <div class="d-flex flex-wrap">
                <a class="btn btn-success btn-lg " href="/hire">Hire Me</a>
                <a class="btn btn-outline-secondary btn-lg mx-3" href="/about">Learn more</a>
              </div>
            </div>
            <div class="col-12 wow fadeIn  col-lg-6 offset-lg-1">
              <img class="img-fluid" src="{%  static 'img/zahid.png' %}" style="border-radius: 200px; width: 430px; height: 430px; object-fit: cover;" alt="">
            </div>
    </div>

    <div class="text-center d-none d-lg-block">
        <button class="btn border rounded-circle" style="width: 56px;height: 56px">
              <svg class="text-muted mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
        </button>
    </div>
</div>
