{% load static %}

<section class="py-5  my-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 wow fadeIn col-lg-8">
              <div class="mx-auto text-center mb-5">
                <h2 class="display-5 fw-bold mt-2 mb-3">RECENT PROJECTS</h2>
                <p class="lead text-muted">Explore some of the impactful projects I’ve built, showcasing expertise in web development and problem-solving</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-10">
              <div class="row">
                <div class="col-12 wow fadeIn col-lg-6 mb-4">
                  <div class="p-4 bg-white rounded">
                    <div class="row align-items-center">
                      <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                        <img class="img-fluid w-100" style="height: 208px; object-fit: cover;" src="{%  static 'img/img2.png' %}" alt="">
                      </div>
                      <div class="col-12 col-lg-7">
                        <h4 class="fw-bold">E-Shop Platform</h4>
                        <p>A scalable e-commerce platform with payment integration and user authentication</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 wow fadeIn col-lg-6 mb-4">
                  <div class="p-4 bg-white rounded">
                    <div class="row align-items-center">
                      <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                        <img class="img-fluid w-100" style="height: 208px; object-fit: cover;" src="{%  static 'img/img2.png' %}" alt="">
                      </div>
                      <div class="col-12 col-lg-7">
                        <h4 class="fw-bold">Team Task Manager</h4>
                        <p>A task management app with real-time collaboration and progress tracking.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 wow fadeIn col-lg-6 mb-4 mb-lg-0">
                  <div class="p-4 bg-light rounded">
                    <div class="row align-items-center">
                      <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                        <img class="img-fluid w-100" style="height: 208px; object-fit: cover;" src="{%  static 'img/img2.png' %}" alt="">
                      </div>
                      <div class="col-12 col-lg-7">
                        <h4 class="fw-bold">Custom CRM Tool</h4>
                        <p>A CRM system to manage customer data, track leads, and automate marketing.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 wow fadeIn col-lg-6">
                  <div class="p-4 bg-white rounded">
                    <div class="row align-items-center">
                      <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                        <img class="img-fluid w-100" style="height: 208px; object-fit: cover;" src="{%  static 'img/img2.png' %}" alt="">
                      </div>
                      <div class="col-12 col-lg-7">
                        <h4 class="fw-bold">Blog CMS</h4>
                        <p>A lightweight CMS for bloggers with SEO features and WYSIWYG editing</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>