{% extends "base.html" %}
{% block title %} Learn With Zahid - Home {% endblock %}

{% block content %}
<!---Hero-->
{% include 'components/hero.html' %}   

<!---Stats-->
{% include 'components/stats.html' %}

<!---About-->                    
{% include 'components/about.html' %}
  
<!---Projects-->  
{% include 'components/recentProjects.html' %}

<!---NewsLetter-->  
{% include 'components/newsLetter.html' %}
         
<!---Contact--> 
{% include 'components/contact.html' %}

{% endblock %}





